<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>夜間活動</key>
	<array>
		<dict>
			<key>time</key>
			<string>0.5</string>
			<key>value</key>
			<string>-</string>
			<key>rpoint</key>
			<string></string>
		</dict>
		<dict>
			<key>time</key>
			<string>0.5</string>
			<key>value</key>
			<string>26</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1.5</string>
			<key>value</key>
			<string>60</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1.0</string>
			<key>value</key>
			<string>86</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
	</array>
	<key>熱中症</key>
	<array>
		<dict>
			<key>time</key>
			<string>2.0</string>
			<key>value</key>
			<string>-</string>
			<key>rpoint</key>
			<string></string>
		</dict>
		<dict>
			<key>time</key>
			<string>3.0</string>
			<key>value</key>
			<string>28</string>
			<key>rpoint</key>
			<string>以下</string>
		</dict>
		<dict>
			<key>time</key>
			<string>2.5</string>
			<key>value</key>
			<string>65</string>
			<key>rpoint</key>
			<string>以下</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1.5</string>
			<key>value</key>
			<string>83</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
	</array>
	<key>活動なし</key>
	<array>
		<dict>
			<key>time</key>
			<string>1.5</string>
			<key>value</key>
			<string>-</string>
			<key>rpoint</key>
			<string></string>
		</dict>
		<dict>
			<key>time</key>
			<string>3.0</string>
			<key>value</key>
			<string>25</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
		<dict>
			<key>time</key>
			<string>3.5</string>
			<key>value</key>
			<string>59</string>
			<key>rpoint</key>
			<string>以下</string>
		</dict>
		<dict>
			<key>time</key>
			<string>4.0</string>
			<key>value</key>
			<string>79</string>
			<key>rpoint</key>
			<string>以上</string>
		</dict>
	</array>
</dict>
</plist>
